<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.nativemedia">

    <uses-feature android:glEsVersion="0x00020000" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".NativeMedia"
            android:exported="true"
            android:label="@string/app_name"
                  android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <!-- INTERNET is needed to use a URI-based media player, depending on the URI -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- For Android 13+ -->
    <!-- Ref: https://developer.android.com/about/versions/13/behavior-changes-13#granular-media-permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- For Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

</manifest>


