<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gghangura.adminconsole">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:alwaysRetainTaskState="true"
        android:label="Mo-Ad"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectedActivity"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
        <activity
            android:name=".ResponseActivity"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
        <activity
            android:name=".RestUserDetailActivity"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
        <activity
            android:name=".SoapUsers"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
        <activity
            android:name=".SoapUserDetail"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
        <activity
            android:name=".DeviceDetails"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
        <activity
            android:name=".SoapUserApplications"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
        <activity android:name=".AboutActivity"
            android:alwaysRetainTaskState="true">
            <meta-data
                android:name="GDMonitorActivity"
                android:value="true" />
        </activity>
    </application>

</manifest>
