<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jahawkins.webviewspike">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:name="WebViewSpike">
        <meta-data
            android:name="GDApplicationVersion"
            android:value ="1.0.0.0" />
        <meta-data android:name="android.webkit.WebView.MetricsOptOut"
                   android:value="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
                Next element registers the PoC as an Intent receiver for com.blackberry.work
                This is for demonstration of ADAL login in BlackBerry Access, then handing back the
                token URL to this application.
                The code to retrieve the Intent is in the Application subclass, WebViewSpike, in the
                activity life cycle listener. Look for registerActivityLifecycleCallback.
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.blackberry.work" android:host="connect" />
            </intent-filter>

        </activity>
    </application>

</manifest>